<section class="what-we-do">
  <div class="wwd-container col-10">
    <h2>Qué hacemos</h2>
    <div>
      <div class="wwd-image" style="background-image:url({{ site.data.general-data.what-we-do-image-1 }})"></div>
      <div class="wwd-image" style="background-image:url({{ site.data.general-data.what-we-do-image-2 }})"></div>
      <div class="wwd-image" style="background-image:url({{ site.data.general-data.what-we-do-image-3 }})"></div>
    </div>

    <p>{{ site.data.general-data.what-we-do}}</p>

  </div>

</section>
